.app__about {
  flex: 1;
  width: 100%;
  flex-direction: column;
}

.about_info {
  margin-top: 5rem;
  max-width: 1000px;



  p {
    font-size: 1em;

    span {
      color: var(--secondary-color);
      font-weight: bold;
    }
  }

  .about_btns {

    margin-top: 3.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;


    button {
      padding: 1rem 2rem;
      border-radius: 10px;
      border: none;
      background-color: var(--secondary-color);

      font-weight: 500;
      color: var(--white-color);
      outline: none;
      font-family: var(--font-base);

      transition: all 0.3s ease-in-out;
      cursor: pointer;

      &:hover {
        background-color: #1b2489;
      }
    }
  }
}